@model IEnumerable<MiniProject_InsuranceManagementSystem.Models.CustomerRequest>

@{
    ViewBag.Title = "PendingRequests";
}

<style>
    body {
        background-color: antiquewhite;
    }
    span {
        font-size: 20px;
        font-weight: bold;
        margin:8rem;
    }
</style>



<button class="btn btn-primary" style="margin-top:2rem;margin-bottom:1rem;margin-left:1rem;">
    @Html.ActionLink("《 Back to Profile", "AdminProfilePage", new { area = "" }, new { @style = "font-size:14px; color:white;" })
</button>
<h1 style="text-align:center;font-weight:bold;margin-bottom:3rem; margin-top:0">Pending Requests</h1>

@*@using (Html.BeginForm())
{
    @Html.RadioButton("Home Insurance", "HomeInsurance") <span style="">Home Insurance</span>
    @Html.RadioButton("Heath Insurance", "HealthInsurance") <span >Health Insurance</span>
    @Html.RadioButton("Automobile Insurance", "AutomobileInsurance") <span >Automobile Insurance</span>
    @Html.RadioButton("Travel Insurance", "TravelInsurance") <span >Travel Insurance</span>
    @Html.RadioButton("Life Insurance", "LifeInsurance") <span >Life Insurance</span>
    @Html.RadioButton("Pension Plan", "PensionPlan") <span>Pension Plans</span>


}*@


<table class="table table-striped" style="box-shadow: 0px 7px 41px -4px black; margin-top:4rem ">
    <thead style="background-color: #002d72; color:whitesmoke; font-size:medium">

        <tr>
            <th style="padding: 2rem">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th style="padding: 2rem">
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th style="padding: 2rem">
                @Html.DisplayNameFor(model => model.MobileNumber)
            </th>
            <th style="padding: 2rem">
                @Html.DisplayNameFor(model => model.InsuranceType)
            </th>

            <th style="padding: 2rem">
                @Html.DisplayNameFor(model => model.SubType)
            </th>
            <th style="padding: 2rem">
                @Html.DisplayNameFor(model => model.PurchasedDate)
            </th>

            <th style="padding: 2rem">
                Action
            </th>

            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr style="margin:1rem;">
                <td style="padding:2rem;">
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td style="padding: 2rem;">
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td style="padding: 2rem;">
                    @Html.DisplayFor(modelItem => item.MobileNumber)
                </td>
                <td style="padding: 2rem;">
                    @Html.DisplayFor(modelItem => item.InsuranceType)
                </td>
                <td style="padding: 2rem;">
                    @Html.DisplayFor(modelItem => item.SubType)
                </td>
                <td style="padding: 2rem;">
                    @item.PurchasedDate.ToShortDateString()
                </td>

                <td style="padding: 2rem;">

                    @using (Html.BeginForm("VerifyRequest", "Admin"))
                    {
                        <button class="btn-block btn-primary btn" type="submit" style="padding:0.8rem" name="CustomerId" value=@item.CustomerId>Verify Details</button>

                    }

                </td>

            </tr>
        </tbody>
    }

</table>
